@font-face {
  font-family: "MiFuente";
  src: url("../fuentes/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MiFuente", sans-serif;
  margin-bottom: 0%;
}

.offcanvas.offcanvas-end {
  width: 500px;
}

header {
  display: flex;
  width: max;
  background-color: #222831;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
header .logo {
  display: flex;
  align-items: center;
}
header .logo:hover {
  transform: scale(1.1);
}
header .logo a {
  color: #EEEEEE;
  text-decoration: none;
  font-size: 2em;
  transition: all 0.3s;
  flex-grow: 3;
  list-style: none;
}
header .logo a:hover {
  color: #00ADB5;
}
header .logo img {
  width: 60px;
  height: 60px;
}

nav {
  display: flex;
}
nav ul {
  list-style: none;
  display: flex;
  padding-left: 0%;
  align-items: center;
  margin-bottom: 0%;
  gap: 2rem;
}
nav ul li a {
  color: #EEEEEE;
  text-decoration: none;
  font-size: 1.4em;
  transition: all 0.3s;
  flex-grow: 3;
  align-self: flex-start;
  list-style: none;
}
nav ul li a:hover {
  color: #00ADB5;
}
nav ul li div {
  display: flex;
  align-items: flex-end;
}

.abrirmenu {
  display: none;
}

.Cerrarmenu {
  display: none;
}

#contenedorCarritoCA {
  flex-direction: column;
  padding: 15px;
}

#headerOffcanvas {
  width: 500px;
}

.fondoOffcanvas {
  background-color: #222831;
  width: max;
  margin: 0%;
  border: 0;
}

.contadorPosicion {
  display: flex;
}

.contadorCarrito {
  color: #EEEEEE;
  border-radius: 100%;
  height: auto;
}

.carritoNav {
  height: 40px;
  width: 40px;
}

.itemcarrito {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 490px;
  gap: 15px;
  padding: 0.8em;
  border-bottom: solid black;
  flex-wrap: wrap;
}
.itemcarrito p {
  margin-bottom: 0%;
  font-size: 0.8em;
}
.itemcarrito .imagenbote {
  width: 100px;
  height: 60px;
  overflow: hidden;
  border-radius: 10%;
}

.nomprecio {
  flex-grow: 3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
}

.eliminarcarrito {
  border: none;
  margin: none;
  background-color: transparent;
}

.iconbote {
  width: auto;
  height: 26px;
}

.botonAgregarExtra {
  width: auto;
  height: 30px;
}

.search {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  transition-duration: 500ms;
  background-color: #222831;
  cursor: pointer;
  font-family: "IBM Plex Sans", Courier, monospace, sans-serif;
  font-size: 25px;
  border: 1px solid #222831;
  overflow: hidden;
  background-image: url("../imagenes/lupaDregradado.png");
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: 45% 50%;
  color: transparent;
}
.search:hover {
  border: 1px solid #00ADB5;
  border-radius: 50%;
}
.search:focus {
  width: 200px;
  cursor: text;
  padding-left: 40px;
  color: white;
  outline: none;
  background-color: transparent;
  border: 1px solid #00ADB5;
  border-radius: 25px;
  background: url("../imagenes/lupaDregradado.png") no-repeat;
  background-size: 25px;
  background-position: 10px 50%;
}

.icon {
  padding: 0%;
  width: 200px;
  height: auto;
}

.alert-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: auto;
  background-color: #3e3e3e;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
}

.alert-message {
  display: flex;
  align-items: center;
  gap: 10px;
  width: auto;
  justify-content: space-between;
}
.alert-message p {
  margin-bottom: 0%;
}
.alert-message img {
  width: 30px;
  height: auto;
}

.alert-message i {
  font-size: 40px;
  margin-right: 20px;
}

#comprar {
  display: flex;
  border-radius: 4px;
  background-color: #0b3961;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  margin-top: 20px;
  padding: 15px;
  width: auto;
  cursor: pointer;
}

/*# sourceMappingURL=navbar.css.map */
