@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,800;1,200;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,800;1,200;1,400;1,700&family=Rajdhani:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', Courier, monospace;
}


.header {
    background-color: #222831;
    display: flex;
    gap: 12px;
    justify-content: space-around;
    align-items: center;
    height: auto;
    padding: 15px 20px;
    flex-wrap: wrap;
}

.header .logo a {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #EEEEEE;
    text-decoration: none;
    font-size: 40px;
    transition: all 0.3s;
    flex-grow: 3;
    align-self: flex-start;
}

.header .logo:hover {
    transform: scale(1.1);
}

.header .logo a:hover {
    color: aquamarine;
}

.header .barra_de_navegacion {
    list-style: none;
}

.header .barra_de_navegacion li {
    display: inline-block;
    padding: 0 20px;
}

.header .barra_de_navegacion li:hover {
    transform: scale(1.1);
}

.header .barra_de_navegacion a {
    font-size: 20px;
    text-decoration: none;
    color: #EEEEEE;
}

.header .barra_de_navegacion a:hover {
    color: aquamarine;
}

.busqueda {
    flex-grow: 2;
}

.btn_busqueda button {
    flex-grow: 1;
    font-weight: 700;
    color: #00ADB5;
    padding: 9px 25px;
    background: #EEEEEE;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

.btn_busqueda button:hover {
    background-color: aquamarine;
    color: rgb(18, 19, 19);
    transform: scale(1.1);
}

.navi {
    background-image: url(/imagenes/banner2.jpg);
    height: 400px;
}

.navi .textosobreimagen h1 {
    position: relative;
}

.textosobreimagen h1 {
    top: 150px;
    left: 80px;
    color: aliceblue;
    font-size: 3rem;
}

.slider {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.slider ul {
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 400%;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
    height: 100%;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

.tienda1 {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;

}
.resize {
    width: 300px;
    height: 200px;
}
.tienda1 .bienvenido {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #000000;
    text-decoration: none;
    font-size: 24px;
    padding: 20px;
    text-align: justify;
    min-width: 300px;
    min-height: auto;

}

.item1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 70% 15%;
    justify-items: center;
    list-style: none;
    min-width: 300px;
    gap: 1rem;
    background-color: #00ADB5;
    padding: 2rem; 
}

.item2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 70% 15%;
    justify-items: center;
    list-style: none;
    min-width: 300px;
    gap: 1rem;
    background-color: #00ADB5;
    padding: 2rem; 
}

.item3{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 70% 15%;
    justify-items: center;
    list-style: none;
    min-width: 300px;
    gap: 1rem;
    background-color: #00ADB5;
    padding: 2rem; 
}

.item4{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 70% 15%;
    justify-items: center;
    list-style: none;
    min-width: 300px;
    gap: 1rem;
    background-color: #00ADB5;
    padding: 2rem; 
}

.item1 img{
    box-shadow: -11px 14px 24px -3px rgba(0,0,0,0.4);
-webkit-box-shadow: -11px 14px 24px -3px rgba(0,0,0,0.4);
-moz-box-shadow: -11px 14px 24px -3px rgba(0,0,0,0.4);
}

.item2 img{
    box-shadow: -11px 14px 24px -3px rgba(0,0,0,0.4);
-webkit-box-shadow: -11px 14px 24px -3px rgba(0,0,0,0.4);
-moz-box-shadow: -11px 14px 24px -3px rgba(0,0,0,0.4);
}

.item3 img{
    box-shadow: -11px 14px 24px -3px rgba(0,0,0,0.4);
-webkit-box-shadow: -11px 14px 24px -3px rgba(0,0,0,0.4);
-moz-box-shadow: -11px 14px 24px -3px rgba(0,0,0,0.4);
}

.item4 img{
    box-shadow: -11px 14px 24px -3px rgba(0,0,0,0.4);
-webkit-box-shadow: -11px 14px 24px -3px rgba(0,0,0,0.4);
-moz-box-shadow: -11px 14px 24px -3px rgba(0,0,0,0.4);
}
.item1 p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
}
.item2 p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
}
.item3 p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
}
.item4 p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
}

.mapa{
    display: grid;
    background-color: #393E46;
    gap: 2rem;
}

.mapa p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    color: #EEEEEE;
    padding: 10px;
    background-color: #222831;
}

.mapa iframe{
    padding: 2rem;
    display: inline;
}

.mapa label{
    padding: 20px 20px;
    color: #EEEEEE;
}