.mapa {
    background-color: $negromate;
    border: 10px;
    border-style: solid;
    border-color: $negro;

    iframe{
        padding: 20px;
        min-height: 400px;
    }
}

.titulofooter {
    padding: 20px 20px;

    p {
        color: $blancobeishe;
        font-size: $letragrande;
    }
}
.contanctanos{
    padding: 2%;
    align-items: center;
    justify-content: center;
    p{
font-size: $letragrande;
        color: $blancobeishe;
    }
}