@import "variables";
footer {
    background-color: $negromate;
    border: 10px;
    border-style: solid;
    border-color: $negro;
    display: flex;
    justify-content: center;

    img {
        overflow: hidden;
        padding: 20px;
        width: 400px;
    }
}

