@import "variables";

@media only screen and (max-width:550px) {
    header{
        padding: 25px;
        
    }

    .abrirmenu, .Cerrarmenu {
        display: block;
        // margin: 15px;
        border: none;
        img{
            width: 40px;
            height: 40px;
            background-color: $negro;
        }
    }

    nav {
        opacity: 0;
        visibility: hidden;
    }

    .visible{
        opacity: 1;
        visibility: visible;
    }

    nav {
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        padding: 1rem;
        background-color: $negro;
        bottom: 0%;
        gap: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        align-items: end;

        button{
            background-color: $negro;
            padding: 0%;
            margin: 0%;
        }

        ul {
            flex-direction: column;
            padding: 15px;

            li {
                align-items: end;
            }
        }
    }

    .slogan{
        padding: 100px;
        flex-direction: column;
        background-repeat: repeat;
        gap: 2rem;
        img{
            width: 200px;
            height: auto;
        }

    }
    .productosBarra{
        gap: 0;
        justify-content: center;
        div{
            padding: 20px;
        }
    }
    .flexbienvenida{
        flex-direction: column;
        p{
            font-size: $letrapequena;
        }
    }
    .productos{
        justify-content: center;
    }
    .slider {
        width: max;
        height: 200px;

    }
    footer{
        padding: 0%;
        width: max;
        img{
            padding: 0px;
            overflow: hidden;
        }
    }

}