@import "variables";

@font-face {
    font-family: 'MiFuente';
    src: url('../fuentes/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MiFuente2';
    src: url('../fuentes/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media only screen and (max-width:550px) {
    header {
        padding: 25px;

    }

    .abrirmenu {
        display: block;
        border: none;

        img {
            width: 35px;
            height: 35px;
            background-color: $negro;
        }
    }

    .Cerrarmenu {
        display: block;
        border: none;

        img {
            width: 25px;
            height: 25px;
            background-color: $negro;
        }
    }

    .visible {
        opacity: 1;
        visibility: visible;
    }

    nav {
        opacity: 100%;
        z-index: 2;
        visibility: hidden;
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        background-color: $negro;
        bottom: 0%;
        gap: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        align-items: center;

        button {
            background-color: $negro;
            padding: 0%;
            margin: 0%;
        }

        ul {
            flex-direction: column;
            padding: 20px;
            align-items: center;
            padding-bottom: 0;
            gap: 2rem;

            li {
                align-items: end;

                a {
                    transition: none;
                }

            }
        }
    }

    .offcanvas.offcanvas-end {
        width: 350px;
    }

    #headerOffcanvas {
        width: 350px;
    }

    .itemcarrito {
        width: 320px;

        .imagenbote {
            display: none;
        }
    }

    .slogan {
        padding: 100px;
        flex-direction: column;
        background-repeat: repeat;
        gap: 2rem;

        img {
            width: 200px;
            height: auto;
        }

    }

    .productosBarra {
        gap: 0;
        justify-content: center;

        div {
            padding: 10px;
        }
    }

    .flexbienvenida {
        flex-direction: column;

        p {
            font-size: $letrapequena;
        }
    }

    .productos {
        justify-content: center;
    }

    .slider {
        width: max;
        height: 200px;

    }

    footer {
        padding: 0%;
        width: max;

        img {
            padding: 0px;
            overflow: hidden;
        }
    }

}