@import "variables";
@import "mixin";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-bottom: 0%;
}


.header {
    position: sticky;
    top: 0;
    padding: 15px;
    background-color: $negro;
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    @include items-content;
    padding-left: 40px;

    .logo {
        &:hover {
            transform: scale(1.1);
        }

        a {
            font-family: 'IBM Plex Sans', sans-serif;
            color: $blancobeishe;
            text-decoration: none;
            font-size: $letragrande;
            transition: all 0.3s;
            flex-grow: 3;
            align-self: flex-start;
            list-style: none;

            &:hover {
                color: $azulcian;
            }
        }
    }

    .navegacion {


        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 3em;
        padding-left: 0%;
        margin-bottom: 0;

        li {
            display: inline-block;

            &:hover {
                transform: scale(1.1);
            }
        }

        a {
            font-size: $letramediana;
            text-decoration: none;
            color: $blancobeishe;

            &:hover {
                color: $azulcian;
            }
        }

    }

}

.navCarritoSearch {
    display: flex;
    gap: 20px;
}

.fondoOffcanvas {
    background-color: $negro;
    margin: 0%;
    border: 0;
}

.contadorPosicion {
    display: flex;
}

.contadorCarrito {
    color: $blancobeishe;
    border-radius: 100%;
    height: auto;
}

.carritoNav {
    height: 40px;
    width: 40px;
}

.itemcarrito {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
    padding: .8em;
    border-bottom: solid black;

    p {
        margin-bottom: 0%;
    }
}

.eliminarcarrito {
    border: none;
    margin: none;
    background-color: transparent;
}

.iconbote {
    width: auto;
    height: 40px;
}

.imagenbote {
    width: auto;
    height: 40px;
    overflow: hidden;
    border-radius: 10%;
}

.search {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px;
    transition-duration: 500ms;
    background-color: $negro;
    cursor: pointer;
    font-family: 'IBM Plex Sans', Courier, monospace, sans-serif;
    font-size: 25px;
    border: 1px solid $negro;
    overflow: hidden;
    background-image: url("../imagenes/lupaDregradado.png");
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 45% 50%;
    color: transparent;

    &:hover {
        border: 1px solid $azulcian;
        border-radius: 50%;
    }

    &:focus {
        width: 200px;
        cursor: text;
        padding-left: 40px;
        color: white;
        outline: none;
        background-color: transparent;
        border: 1px solid $azulcian;
        border-radius: 25px;
        background: url("../imagenes/lupaDregradado.png") no-repeat;
        background-size: 25px;
        background-position: 10px 50%;
    }
}

.slogan {
    padding: 200px;
    background-image: url(../imagenes/banner2.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    gap: 1em;
    @include itemcentrados;

    h1 {
        padding: 0%;
        // position: relative;
        color: $blancobeishe;
        font-size: $letragrande;
        margin-bottom: 0%;
    }


}

.icon {
    padding: 0%;
    width: 3em;
    height: 3em;
}


.alert-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    background-color: #3e3e3e;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
}

.alert-message {
    display: flex;
    align-items: center;
    gap: 10px;
    p{
        margin-bottom: 0%;
    }
    img{
        width: 30px;
        height: auto;
    }
}

.alert-message i {
    font-size: 40px;
    margin-right: 20px;
}