@import "variables";
@import "mixin";
@import "navbar";
@import "body";
@import "footer";
@import "mediaqueries";
@import "contactanos";
@import "portafolio";

@font-face {
    font-family: 'MiFuente';
    src: url('../fuentes/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}