@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,800;1,200;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,800;1,200;1,400;1,700&family=Rajdhani:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.logo2 h1 {
    padding-top: 40px;
    color: #FFEFD6;
    text-align: left;
    font-family: 'Rajdhani', 'Times New Roman', Times, serif;
    background-color: #3A8891;
    padding: 20px;
    font-size: 40px;

}

.nav_barra {
    display: flex;
    gap: 1rem;
    list-style: none;
    background-color: #0E5E6F;
    padding: 12px;
    border: none;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* position: sticky;*/
}

.nav_item {
    font-family: 'Rajdhani', 'Times New Roman', Times, serif;
    text-align: left;
    font-size: 20px;
}

.nav_item a {
    color: #FFEFD6;

}

.nav_item p {
    font-family: 'Rajdhani', 'Times New Roman', Times, serif;
    color: #FFEFD6;
    padding: 0;
    border: none;
    /* flex-grow: 1;*/
    text-align: center;
}

.imgback {
    z-index: -10;
    height: auto;
    width: 100%;
}

.textgrid {
    background-color: #3A8891;
    font-family: 'Rajdhani', 'Times New Roman', Times, serif;
    display: grid;
    gap: 0.5rem;
    padding: 0.5rem;
    grid-template-areas:
        'uno uno cuatro'
        'tres dos dos  ';
}

.bienvenidogrid:nth-child(1) {
    grid-area: uno;
}

.quehacemosgrid:nth-child(2) {
    grid-area: dos;
}


.listagrid:nth-last-child(3) {
    grid-area: tres;
}

.serviciogrid:nth-child(4) {
    grid-area: cuatro;
}

.bienvenidogrid {
    background-color: #FFEFD6;
    border-radius: 1rem;
    padding: 2rem;
    height: 200px;
}

.quehacemosgrid {
    background-color: #FFEFD6;
    border-radius: 1rem;
    padding: 2rem;
    height: 200px;

}


.listagrid {
    background-color: #F2DEBA;
    border-radius: 1rem;
    padding: 2rem;
    height: 200px;
}

.serviciogrid {
    background-color: #F2DEBA;
    border-radius: 1rem;
    padding: 2rem;
    height: 200px;
}

/*
h2,
h3 {
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 20px;
    color: rgb(0, 0, 0);
    font-family: 'Nunito', sans-serif;
}

.menu {
    text-align: right;
    font-size: 20px;
    line-height: 30px;
    color: white;
}

#logoara {
    display: block;
    margin: 0;
}

*/
.videogrid {
    background-color: #FFEFD6;
    border-radius: 1rem;
    padding: 2rem;
    size: auto;
}
p {
    font-family: 'Nunito', sans-serif;
    padding: 12px;
    text-align: justify;
    color: rgb(0, 0, 0);
}

.contac {
    color: rgb(5, 6, 6);
}

.lista {
    color: rgb(2, 3, 3);
    padding-left: 40px;
    line-height: 30px;
}